/*background*/
body {
  background: black;
}
/*paragraph*/
p {
  text-align: center;
  color:white;
  font-weight:bold;
}
/*topic*/
h3 {
  text-align: center;
  color:white;
  font-weight:bold;
}
/*image centering*/
.image{
  display: flex;
  justify-content: center;
}
/*heading*/
h1 {
  text-align: center;
  color:white;
  font-weight:bold;
  height:50px;
}
/*bullet points*/
li{
  color:white;
  font-weight:bold;
  border-color: red;
  height:40px;
}
/*image borders*/
img {
  border-style: dashed;
  border-color: red;
  border-radius: 100px;
  width: 200px;
  height: 100px;
}